## Fancy Indexing

In [1]:
wears=["shoes","shorts","trousers","polos","underwears","slippers","suits"]
wears[2]

'trousers'

In [2]:
wears[-2]

'slippers'

In [3]:
wears[0:4]

['shoes', 'shorts', 'trousers', 'polos']

In [4]:
wears[:4]

['shoes', 'shorts', 'trousers', 'polos']

In [6]:
wears[4]

'underwears'

In [8]:
wears[4:7]

['underwears', 'slippers']

In [9]:
wears[4:]

['underwears', 'slippers', 'suits']

In [12]:
wears

['shoes', 'shorts', 'trousers', 'polos', 'underwears', 'slippers', 'suits']

In [15]:
wears[:7:2] ## fancy indexing with a step of 2

['shoes', 'trousers', 'underwears', 'suits']

In [16]:
wears[::2]

['shoes', 'trousers', 'underwears', 'suits']

In [17]:
odd_numbers=[1,3,5,7,9,11]
odd_numbers[::3]

[1, 7]

## Tuple

In [18]:
## Tuple is used to store collection of data. it is ordered and unchangeable. it also allows duplicates like a list.

In [19]:
even=(2,4,6,8,10,12)

In [20]:
type(even)

tuple

In [21]:
type(odd_numbers)

list

In [22]:
type(wears)

list

In [23]:
tuple_wears=tuple(wears)

In [24]:
tuple_wears

('shoes', 'shorts', 'trousers', 'polos', 'underwears', 'slippers', 'suits')

In [25]:
type(tuple_wears)

tuple

## Recap... The Seed Method

In [26]:
from random import randint

In [33]:
randint(1,10)

10

In [34]:
from random import seed

In [40]:
seed(7)
randint(2,15)

7

## back to tuple

In [41]:
len(tuple_wears)

7

In [42]:
university=("uniport","uniben","delsu","OAU","UI","UNIZIKE")

In [43]:
len(university)

6

In [44]:
for school in university:
    print(school)

uniport
uniben
delsu
OAU
UI
UNIZIKE

In [48]:
length_school=[]
for school in university:
    if len(school)<=3:
        length_school.append(school)
print(length_school)

['OAU', 'UI']

In [49]:
university.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [50]:
length_school.pop()

'UI'

In [51]:
print(length_school)

['OAU']

In [52]:
list_university=list(university)
print(list_university)
print(type(list_university))

['uniport', 'uniben', 'delsu', 'OAU', 'UI', 'UNIZIKE']
<class 'list'>

In [53]:
list_university.append("NDU")

In [54]:
list_university

['uniport', 'uniben', 'delsu', 'OAU', 'UI', 'UNIZIKE', 'NDU']

In [55]:
university=tuple(list_university)

In [56]:
university

('uniport', 'uniben', 'delsu', 'OAU', 'UI', 'UNIZIKE', 'NDU')

In [57]:
cars=[]

In [58]:
type(cars)

list

In [59]:
car=["Toyota"]

In [60]:
machines=()

In [61]:
type(machines)

tuple

In [62]:
machines=("tractor")

In [63]:
machines

'tractor'

In [64]:
type(machines)

str

In [65]:
bike=("Honda",)

In [66]:
type(bike)

tuple

## Recall casting

In [67]:
x,y,z=2,3,4
a,b,c="tyre","name","shoe"

In [68]:
cutlery=("spoon") ## cutlery = "spoon"

In [69]:
house={"bungalow","one room","storey building","skyscrapper","one room","bungalow"}

In [70]:
type(house)

set

In [71]:
print(house)

{'one room', 'storey building', 'skyscrapper', 'bungalow'}

In [72]:
add_tuple=university+bike ## combining 2 tuples together to form another tuple

In [73]:
add_tuple

('uniport', 'uniben', 'delsu', 'OAU', 'UI', 'UNIZIKE', 'NDU', 'Honda')

In [75]:
# change the house set to a tuple called tuple_house
tuple_house=tuple(house)

In [77]:
new_house=("bungalow","one room","storey building","skyscrapper","one room","bungalow")

In [78]:
new_house

('bungalow',
 'one room',
 'storey building',
 'skyscrapper',
 'one room',
 'bungalow')

In [79]:
## count operation in tuple
new_house.count("one room")

2

In [80]:
new_house.count("skyscrapper")

1

In [81]:
new_house.count("fssdf")

0

In [82]:
## checking the index of a tuple
new_house.index("skyscrapper")

3

In [84]:
new_house[3] ## confirming that the index of skyscrapper is actually 3

'skyscrapper'

In [85]:
#Arithmetic in a tuple
numb=(1,2,5,7,3)

In [95]:
numb*3 ## this called duplicating a tuple

(1, 2, 5, 7, 3, 1, 2, 5, 7, 3, 1, 2, 5, 7, 3)