## Exercise 5: Bottle deposits

In [2]:
# drink containers <= a litre= 0.1
# drink containers > a litre= 0.25

In [8]:
number_of_containers=int(input("Enter the total number of containers: "))
litre_of_container=float(input("Enter the litre(s) of containers: "))
refund_money1= number_of_containers * 0.1
refund_money2= number_of_containers * 0.25
if number_of_containers<1 or litre_of_container <=0:
    print("Enter at least 1 container or a litre above zero")
elif litre_of_container<=1:
    print(f"You will be refunded: ${round(refund_money1, 2)}")
else:
    print(f"You will be refunded: ${round(refund_money2, 2)}")

Enter the total number of containers: 3
Enter the litre(s) of containers: 4
You will be refunded: $0.75

# round function

In [11]:
x=3.234532
round(x,3)

3.235

In [12]:
round(x)

3

## Math Module

In [13]:
22/7

3.142857142857143

In [14]:
import math

In [15]:
4**2

16

In [16]:
math.pow(4,2)

16.0

In [17]:
4*4

16

In [19]:
math.pi

3.141592653589793

In [20]:
#math.cos(30) the answer is wrong, you have to convert your 30 degrees to radians

0.15425144988758405

In [21]:
rad_30=math.radians(30)

In [22]:
math.cos(rad_30)

0.8660254037844387

In [23]:
math.cos(math.radians(30))

0.8660254037844387

In [24]:
math.factorial(5)

120

In [26]:
5*4*3*2*1

120

In [27]:
math.sqrt(25)

5.0

In [28]:
25**0.5

5.0

## Range

In [31]:
range(5)

range(0, 5)

In [33]:
x=range(6)
for n in x:
    print(n)

0
1
2
3
4
5

In [34]:
x=range(0,6)
for n in x:
    print(n)

0
1
2
3
4
5

In [35]:
x=range(2,8)
for n in x:
    print(n)

2
3
4
5
6
7

In [36]:
x=range(1,11,2)## this is a range function with a step of 2
for n in x:
    print(n)

1
3
5
7
9

In [37]:
age=range(25,31)
for r in age:
    print("i am", r, "years old")

i am 25 years old
i am 26 years old
i am 27 years old
i am 28 years old
i am 29 years old
i am 30 years old

In [38]:
age=range(25,40,3)
for r in age:
    print("i am", r, "years old")

i am 25 years old
i am 28 years old
i am 31 years old
i am 34 years old
i am 37 years old

## Random module

In [39]:
## The randrange
import random

In [45]:
random.randrange(4,10)

8

In [52]:
age=random.randrange(25,40)
print("i am", age, "years old")

i am 27 years old

In [55]:
lists=[5,3,45,7,1,23]

In [56]:
print(lists)

[5, 3, 45, 7, 1, 23]

In [59]:
sum(lists)

84

In [69]:
numbers=random.randint(2,5)## in randint, the last number in this case 5, can be printed
print(numbers)

4

In [73]:
small_numbers=random.random() ## random.random() outputs randomly a number between 0 and 1.
print(small_numbers)

0.9063232912231387

In [75]:
from random import choice

In [76]:
my_fruits=["apple",'banana',"mango"]
fruits=choice(my_fruits)
print(fruits)

banana

In [78]:
cars=["toyota","mercedis","bmw","lexus","nissan","innosson","jeep","hummer"]
my_car=random.choices(cars,k=3)
print(my_car)

['jeep', 'nissan', 'bmw']

In [81]:
cars=["toyota","mercedis","bmw","lexus","nissan","innosson","jeep","hummer"]
my_car=random.choices(cars,k=5)
print(my_car)

['lexus', 'lexus', 'nissan', 'hummer', 'bmw']

In [84]:
print(set(my_car))# making your choices output a set to eradicate a repitition

{'bmw', 'nissan', 'hummer', 'lexus'}

In [85]:
stationary={"pen","biro","pencil","ruler","biro","pencil","eraser"}# explaining a set
print(stationary)

{'biro', 'pencil', 'ruler', 'eraser', 'pen'}

In [88]:
my_fruits=["apple",'banana',"mango"]
fruits=random.choices(my_fruits,k=14,weights=[10,1,1])
print(fruits)

['apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'mango']

In [157]:
cars=["toyota","mercedis","bmw","lexus","nissan","innosson","jeep","hummer"]
list_cars=[]
for i in cars:
    my_car=random.choice(cars)
    list_cars.append(my_car)
    set_cars=set(list_cars)
    if len(set_cars)==5:
        break
list_cars=list(set_cars)      
print(list_cars)

['innosson', 'bmw', 'jeep', 'toyota', 'lexus']