## Python

In [4]:
# let a be equal to 5
# let b be equal to 3
# find the sum of a and b?

In [5]:
a=5
b=3
c= a+b
c

8

In [6]:
a=5
b=3
c= A+b
c

NameError: name 'A' is not defined

In [7]:
## Know that Python is case sensitive

In [9]:
a=5
b=3
c= a+b
d= a-b
c # output c has been ignored
d

2

In [10]:
# to output your result properly we use what we call the print function/method

In [11]:
a=5
b=3
c= a+b
d= a-b
print(c)
print(d)

8
2

In [12]:
## we can add more functionalities to our print function
print("this is the out put of d", d)
print("this is the out put of c", c)

this is the out put of d 2
this is the out put of c 8

In [13]:
print("This is the out put of d:", d)
print("This is the out put of c:", c)

This is the out put of d: 2
This is the out put of c: 8

## calculating simple interest

In [16]:
p=10000
r= 6
t= 3
si=(p*r*t)/100
si

1800.0

In [54]:
p=10000
r= 6
t= 3
si=(p*r*t)/100
print('The simple interest is: $',si)

The simple interest is: $ 1800.0

In [25]:
print(f"The simple interest is: ${si}")

The simple interest is: $1800.0

## Variable

In [26]:
# integer variable. e.g of integers are 2,4,-1,5,-1000098, e.t.c
# float variable. e.g 2.8,9.5,67.98, e.t.c
# string variable: e.g "Eyitemi", 'Paul', "George","23", '34' e.t.c

In [28]:
name= "Paul"
print(name)
name

Paul

'Paul'

In [30]:
age="23"
nextage=age+1
print(nextage)
# cannot add a string to a number

TypeError: can only concatenate str (not "int") to str

In [36]:
age=21
nextage=age+1
print('my next age is: ', nextage)

my next age is:  22

## how to check a variable data type

In [32]:
## the type fns
type(age)

int

In [33]:
age

21

In [35]:
age="23"
# nextage=age+1
# print(nextage)
type(age)

str

In [37]:
type(age)

int

In [38]:
type(name)

str

In [39]:
pie=3.142

In [40]:
type(pie)

float

In [41]:
23

23

In [42]:
my name is paul

SyntaxError: invalid syntax (<ipython-input-42-c9ec4b2fa501>, line 1)

In [43]:
"my name is paul"

'my name is paul'

In [44]:
my name is paul and i am 3 years old

SyntaxError: invalid syntax (<ipython-input-44-e434e5e3b7b1>, line 1)

In [45]:
"my name is paul and i am 3 years old"

'my name is paul and i am 3 years old'

In [46]:
myname="my name is paul and i am 3 years old"

In [47]:
print(myname)

my name is paul and i am 3 years old

In [48]:
type(myname)

str

In [49]:
year='2022'

In [50]:
type(year)

str

In [51]:
nextyear=2023

In [52]:
type(nextyear)

int

In [56]:
## casting: changing a variable type
year=int(year)

In [57]:
type(year)

int

In [58]:
name

'Paul'

In [59]:
name=int(name)

ValueError: invalid literal for int() with base 10: 'Paul'

In [62]:
level=400
print("the variable type of level : ", type(level))
## changing the data type to strings
level=str(level)
print("the variable type of level : ", type(level))
## changing level to a floating data type
level=float(level)
print("the variable type of level : ", type(level))

the variable type of level :  <class 'int'>
the variable type of level :  <class 'str'>
the variable type of level :  <class 'float'>

In [63]:
print(level)

400.0

## rules of naming a variable

In [ ]:
# a variable must start with a letter or underscore, e.g abc, come or _time

In [65]:
23time=567

SyntaxError: invalid syntax (<ipython-input-65-39a157753751>, line 1)

In [66]:
come$=23 # variables should only be alphanumeric and underscore

SyntaxError: invalid syntax (<ipython-input-66-c015894102c8>, line 1)

In [67]:
paul23=43

In [70]:
print(paul23)

43

In [ ]:
#si
#  simpleinterest is preferably

## pattern of variable naming a multi-word

In [71]:
## camel case= simpleInterest
## Pascal case= SimpleInterest
## Snake case= simple_interest