## Sequence Type, Lists, dictionaries, tuple, set, range

## List

In [3]:
name=["paul","eyitemi","george"]

In [4]:
print(name)

['paul', 'eyitemi', 'george']

In [7]:
lists=[23,40.1,"cars",False,True]

In [8]:
lists

[23, 40.1, 'cars', False, True]

## recap of string

In [12]:
surname="Odiebara"

In [13]:
surname[4]

'b'

In [14]:
name

['paul', 'eyitemi', 'george']

In [15]:
name[-1]

'george'

In [16]:
len(name)

3

In [17]:
len(lists)

5

In [18]:
surname

'Odiebara'

In [19]:
len(surname)

8

## indexing the material of an item in a list

In [22]:
print(name[1])

eyitemi

In [23]:
print(name[1][3])

t

In [24]:
name[1][3]

't'

## adding to a list

In [26]:
name

['paul', 'eyitemi', 'george']

In [27]:
## append()
name.append(surname)

In [28]:
print(name)

['paul', 'eyitemi', 'george', 'Odiebara']

In [29]:
len(name)

4

In [30]:
age=27
name.append(age)
print(name)

['paul', 'eyitemi', 'george', 'Odiebara', 27]

In [31]:
name.append(30)
print(name)

['paul', 'eyitemi', 'george', 'Odiebara', 27, 30]

In [34]:
name.append("sophia") ## i ran this cell thrice to add sophia 3 times to the list called name
print(name)

['paul', 'eyitemi', 'george', 'Odiebara', 27, 30, 'sophia', 'sophia', 'sophia']

In [35]:
name

['paul', 'eyitemi', 'george', 'Odiebara', 27, 30, 'sophia', 'sophia', 'sophia']

## count method

In [36]:
name.count("eyitemi")

1

In [37]:
name.count("sophia")

3

## pop method

In [38]:
## hold shift and press tab inside your bracket to get the description of a function or method you are working with
name.pop()

'sophia'

In [39]:
name

['paul', 'eyitemi', 'george', 'Odiebara', 27, 30, 'sophia', 'sophia']

In [41]:
name.pop(-3)

30

In [42]:
name

['paul', 'eyitemi', 'george', 'Odiebara', 27, 'sophia', 'sophia']

In [43]:
name.remove("sophia")

In [44]:
print(name)

['paul', 'eyitemi', 'george', 'Odiebara', 27, 'sophia']

In [45]:
## checking the type of a variable
type(name)

list

In [46]:
## reversing a list
name.reverse()

In [47]:
print(name)

['sophia', 27, 'Odiebara', 'george', 'eyitemi', 'paul']

In [50]:
name.reverse()

In [51]:
name

['paul', 'eyitemi', 'george', 'Odiebara', 27, 'sophia']

In [52]:
name.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [53]:
name.pop(-2)

27

In [54]:
print(name)

['Odiebara', 'eyitemi', 'george', 'paul', 'sophia']

In [55]:
name.sort()
name

['Odiebara', 'eyitemi', 'george', 'paul', 'sophia']

In [56]:
name.remove("Odiebara")
name.append("odiebara")
print(name)

['eyitemi', 'george', 'paul', 'sophia', 'odiebara']

In [57]:
name.sort()
print(name)

['eyitemi', 'george', 'odiebara', 'paul', 'sophia']

In [58]:
## deleting a list or any other variable type.
print(name)
del name
print(name)

['eyitemi', 'george', 'odiebara', 'paul', 'sophia']

NameError: name 'name' is not defined

In [59]:
name

NameError: name 'name' is not defined

In [61]:
## main syntax of a list
age=list((23,24,35,30))

In [62]:
age

[23, 24, 35, 30]

In [63]:
type(age)

list

In [64]:
numbers=(1,3,5,7,9)

In [65]:
numbers # this is not a list

(1, 3, 5, 7, 9)

In [66]:
type(numbers)

tuple

In [67]:
number_list=list(numbers)

In [68]:
type(number_list)

list

In [71]:
cars=("Mercedis","Toyota","Lexus")
print(type(cars))
print(cars)
car=list(cars)
print(type(car))
print(car)

<class 'tuple'>
('Mercedis', 'Toyota', 'Lexus')
<class 'list'>
['Mercedis', 'Toyota', 'Lexus']

In [72]:
car_model=list(("Nissan","Volvo","BMW"))
print(type(car_model))
print(car_model)

<class 'list'>
['Nissan', 'Volvo', 'BMW']

In [73]:
age

[23, 24, 35, 30]

In [74]:
age.sort()

In [75]:
print(age)

[23, 24, 30, 35]

In [76]:
sum(age)

112

In [77]:
len(age)

4

In [80]:
## calculating the mean of age
mean=sum(age)/len(age)
print(f"The mean of age is: {mean}")

The mean of age is: 28.0

In [81]:
#maximum number
max(age)

35

In [82]:
## minimum number
min(age)

23

In [83]:
max(age)+ min(age)

58

# Exercise 104: Sorted Order
# Write a program that reads integers from the user and stores them in a list. Your program should continue reading values until the user enters 0. Then it should display all of the values entered by the user (except for the 0) in order from smallest to largest, with one value appearing on each line. Use either the sort method or the sorted function to sort the list.

In [97]:
first_number=int(input("Enter your first number: "))
second_number=int(input("Enter your second number: "))
third_number=int(input("Enter your third number: "))
lists=[]
lists.append(first_number)
print(lists)
lists.append(second_number)
print(lists)
lists.append(third_number)
print(lists)
lists.sort()
print("the maximum number is", max(lists))
print("the minimum number is", min(lists))
print(f"my list has been sorted: {lists}")

Enter your first number: 6
Enter your second number: 43
Enter your third number: 21
[6]
[6, 43]
[6, 43, 21]
the maximum number is 43
the minimum number is 6
my list has been sorted: [6, 21, 43]